test --test_output=errors

# Windows requires these for multi-python support:
build --enable_runfiles
startup --windows_enable_symlinks

build --incompatible_default_to_explicit_init_py

# never strip debug
build --strip=never

# not needed once https://github.com/bazelbuild/bazel/issues/7260  is closed
build --incompatible_enable_cc_toolchain_resolution

# Using clang as the compiler
build --repo_env=CC=gcc

# whisper.cpp use C++11, hence compiling with C++11
build --cxxopt=-std=c++11 --host_cxxopt=-std=c++11

# Build errors are not a helpful way to enforce deprecation in-repo and it is
# not the point of the Bazel build to catch usage of deprecated APIs.
build --copt=-Wno-deprecated --host_copt=-Wno-deprecated

# Address https://github.com/bazelbuild/rules_swift/issues/776
build --host_swiftcopt=-wmo --swiftcopt=-wmo

# Dynamic link cause issues like: `dyld: malformed mach-o: load commands size (59272) > 32768`
# https://github.com/bazelbuild/bazel/issues/9190
build --dynamic_mode=off

# Uses fast_cpp_protos for fast protobuf features
build --define=use_fast_cpp_protos=true
