name: wheels

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"
  pull_request:
    branches:
      - main

concurrency:
  group: wheels-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  LINES: 200
  COLUMNS: 200

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#defaultsrun
defaults:
  run:
    shell: bash --noprofile --norc -exo pipefail {0}

jobs:
  build-sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    timeout-minutes: 90
    if: github.repository_owner == 'aarnphm' # Don't run on fork repository
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # fetch all tags and branches
      - name: Setup CI
        uses: ./.github/actions/setup-repo
      - name: Build sdist
        run: |
          # TODO: when bazel support releasing sdist, we can remove this.
          pip install build

          python -m build --sdist
      - name: Upload to PyPI
        if:  github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          pip install twine
          twine upload dist/* --repository pypi --verbose

  build-wheel:
    name: Build wheels for python${{ matrix.python }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    if: github.repository_owner == 'aarnphm' # Don't run on fork repository
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        python: ["3.8", "3.9", "3.10", "3.11"]
        exclude:
          # Currently, there is a bug with bazel. Disable for offline investigation.
          - python: "3.11"

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # fetch all tags and branches
      - name: Setup CI
        uses: ./.github/actions/setup-repo
        with:
          python-version: ${{ matrix.python }}
      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v2
        with:
          platforms: all
      - name: Set up Clang [Linux]
        if: runner.os == 'Linux'
        uses: egor-tensin/setup-clang@v1
      - name: Running update requirements
        run: ./tools/bazel run //requirements:pypi.update
      - name: Building wheels
        if: github.event_name == 'pull_request'
        run: ./tools/bazel build //:whispercpp_wheel
      - name: Retrieving versions
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        id: get-info
        run: |
          VERSION=${{ github.ref_name }}
          echo "version=${VERSION:1}" >>$GITHUB_OUTPUT
      - name: Publish built wheels
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          ./tools/bazel run -c dbg --define=ci=true --stamp --embed_label=${{ steps.get-info.outputs.version }} -- //:whispercpp_wheel.publish --repository pypi --verbose
